@import "../../../scss/variables";
.home-page-container{
    width: 70%;
    border-top: 1px solid $borders-color;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    color : $text-color;
    .flex-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        .search-bar{
            width: 100%;
        }
        .search-content{
            display: flex;
            width: 100%;
            margin-top: 40px;

            .filter-section{
                width: 30%;
                display: flex;
                flex-direction: column;
            }
            .results-list{
                width: 67%;
                margin-left: 20px;
            }
        }
    }
    
}