@import "../../../../scss/variables";

.sort-bar-wrapper{
    border: 1px solid $borders-color;
    display: flex;
  justify-content: space-around;
  padding: 20px;

    div{
        background-color: $btn-color;
        padding: 5px 10px 5px 10px;
        margin: 5px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        

    }
    .selected{
      background-color: red;
    }
}