@import "../../../scss/variables";

.search-bar-wrapper{
    border: 1px solid $borders-color;
    border-radius: 5px;
    .header{
        border-bottom: 1px solid $borders-color;
        text-align: center;
        background-color: $headers-bg-color;
        padding: 10px;
    }
    .action{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .custom-input::-webkit-calendar-picker-indicator {
            cursor: pointer;
        
        
        }
         .custom-input{
            border-radius: 5px;
            padding: 10px;
            border: 1px solid $borders-color;
            cursor: pointer;
            margin-left: 10px;
            width: 250px;

         }
         .custom-input:focus{
            outline: none !important;
            border: 1px solid gray;

         }


    }

    .search-btn{
        color : white;
        background-color:$btn-color ;
        padding: 5px 20px;
        border-radius: 4px;
        align-self: center;
        cursor: pointer;
    }
 
}