@import "../../../scss/variables";

.search-bar-wrapper{
    border: 1px solid $borders-color;
    border-radius: 5px;
    .header{
        border-bottom: 1px solid $borders-color;
        text-align: center;
        background-color: $headers-bg-color;
        padding: 10px;
    }
    .action{
        // input::-webkit-calendar-picker-indicator {
        //     // padding-left: 100px;
        //     // border: 1px dashed red;
        //   }
        //   input::-webkit-calendar-picker-indicator {
        //        color: orange; 
        //        width: 100%;
        //     }
        .custom-input::-webkit-calendar-picker-indicator {
            cursor: pointer;
        
        
        }
         .custom-input{
            border-radius: 5px;
            padding: 10px;
            border: 1px solid $borders-color;
            cursor: pointer;
            margin-left: 10px;

         }
         .custom-input:focus{
            outline: none !important;
            border: 1px solid gray;

         }


    }
}