/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap";
// @import "../src/scss/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 body {
    font-family: "Poppins", sans-serif;
    // background-color: $main-background-color ;
 }
 
